<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div id="card" class="weater">
        <div class="city-selected">
          <article>
            <div class="info">
              <div>
                <h5 >City: </h5>
                <input type="text" #city>
                <button class="btn btn-secondary" (click)="btnClicked(city.value)">Display</button>
              </div>
              <h3> {{weatherDes}} </h3>
              <div class="temp"> {{temp}} </div>
              <div class="indice"> {{tempMax}} </div>
              <div class="indice"> {{tempMin}} </div>
              <div class="indice"> {{pressure}} </div>
              <div class="humidity"> {{humidity}} </div>


            </div>

          </article>
          
          
        </div>

        
      </div>
    </div>
  </div>
</div>